{% set node = nodes[inventory_hostname] %}
{% include 'ifs.j2' %}
{% include 'routing.j2' %}
{% include 'groups.j2' %}
{% include 'rpl.j2' %}
{% include 'isis.j2' %}
{% include 'ldp.j2' %}
{#{% include 'te.j2' %}
#}
{% if node.bgp is defined %}
{% include 'bgp.j2' %}
{% endif %}
{% if node.role is defined and node.role == 'PE' %}
{% include 'mc.j2' %}
{% endif %}
!
{#
**************************************************
###         System configuration            ######
**************************************************
#}
hostname {{inventory_hostname}}
domain name croclab.ru
!
mpls oam
ssh server v2
ssh server logging
xml agent ssl
 iteration off
!
xml agent tty
 iteration off
!
netconf agent tty
!
end
