{#
**************************************************
###         ISIS configuration            ######
**************************************************
#}
router isis {{common.isis.process}}
apply-group GR-ISIS
 net 49.{{node.isis.area}}.0000.0000.{{node.isis.net}}.00
 is-type {{node.isis.level}}
 set-overload-bit on-startup wait-for-bgp
 address-family ipv4 unicast
 metric-style wide
 ispf
{% if node.rsvp is defined %}
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
{% endif %}
{% for lo,lo_attr in node.loops.items()|sort %}
interface Loopback{{ lo_attr.id }}
  passive
  address-family ipv4 unicast
{% endfor %}
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
 interface {{intf}}
  address-family ipv4 unicast
   metric {{intf_attr.cost}}
   suppress
{% endif %}
{% endfor %}
!

