{#
**************************************************
###         Interfaces configuration        ######
#**************************************************
#    #}
interfaces {
    vt-2/0/0 unit 101 family inet;
    fxp0 {
        description "OOB to MGMT Network";
        unit 0 {
            family inet {
                address {{node.mgmt}}/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
{% for lo,lo_attr in node.loops.items() %}
                address {{lo_attr.ip}}/32;
{% endfor %}
            }
            family iso {
{% if node.isis.area is defined %}
                address 49.{{ node.isis.area }}.0000.0000.{{ node.isis.net }}.00;
{% endif %}
{% if node.isis.area0 is defined %}
                address 49.{{ node.isis.area0 }}.0000.0000.{{ node.isis.net }}.00;
{% endif %}
            }
        }
{% for intf,intf_attr in node.links.items()|sort %}
{% set newintf = intf.split('.')[0] %}
{% if oldintf is defined and oldintf == newintf%}
        unit {{ intf_attr.vlan }} {
            description "{{ intf_attr.remote }}"
            vlan-id {{ intf_attr.vlan }};
            family inet {
                address {{ intf_attr.ip }}/{{ intf_attr.mask|default('31') }};
            }
{% if intf_attr.ce is defined %}
{% else %}
            family mpls;
            family iso;
{% endif %}
        }
{% else %}
    }
    {{ newintf }} {
{% if intf_attr.vlan is defined and intf_attr.vlan !=0 %}
        vlan-tagging;
        unit {{ intf_attr.vlan }} {
           description "{{ intf_attr.remote }}"
            vlan-id {{ intf_attr.vlan }};
            family inet {
                address {{ intf_attr.ip }}/{{ intf_attr.mask|default('31') }};
            }
{% if intf_attr.ce is defined %}
{% else %}
            family mpls;
            family iso;
{% endif %}
        }
{% else %}
        unit 0 {
           description "{{ intf_attr.remote }}"
            family inet {
                address {{ intf_attr.ip }}/{{ intf_attr.mask|default('31') }};
            }
{% if intf_attr.ce is defined %}
{% else %}
            family mpls;
            family iso;
{% endif %}
        }
{% endif %}
{% set oldintf = newintf%}
{% endif %}
{% endfor %}
    }
}

