{#
**************************************************
###         ISI        ######
###**************************************************
###    #}
    isis {
{% if node.isis.propagate is defined %}
        export {{ node.isis.propagate }};
{% endif %}
        apply-groups GR-ISIS;
        backup-spf-options node-link-degradation;
        overload timeout 60;
        level 1 wide-metrics-only;
{% if node.isis.level is defined and node.isis.level == 'level-1' %}
	level 2 disable;
{% else %}
	level 2 wide-metrics-only;
{% endif %}
{%          for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
        interface {{ intf }} {
{%              if intf_attr.cost is defined %}
                level 2 metric {{ intf_attr.cost }};
                level 1 metric {{ intf_attr.cost }};
{%              endif %}
{%              if intf_attr.tecost is defined and intf_attr.tecost != 0 %}
                level 2 te-metric {{ intf_attr.tecost }};
{%              endif %}
{%              if intf_attr.circuit_type is defined and intf_attr.circuit_type == "level-2-only" %}
                level 1 disable;
{%              elif intf_attr.circuit_type is defined and intf_attr.circuit_type == "level-1" %}
                level 2 disable;
{%              endif %}
        }
{% endif %}
{% endfor %}
            interface fxp0.0 {
                disable;
        }
        interface lo0.0 {
                passive;
{%              if node.isis.lolvl is defined and node.isis.lolvl == "level-2-only" %}
                level 1 disable;
{%              elif node.isis.lolvl is defined and node.isis.lolvl == "level-1" %}
                level 2 disable;
{%              endif %}
        }
    }

