{#
**************************************************
###         ISI        ######
###**************************************************
###    #}
    isis {
        apply-groups GR-ISIS;
        backup-spf-options node-link-degradation;
        overload timeout 60;
	level 2 wide-metrics-only;
	level 1 disable;
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
        interface {{ intf }} {
		level 1 disable;
{% if intf_attr.cost is defined %}
                level 2 metric {{ intf_attr.cost }};
{% endif %}
{% if intf_attr.tecost is defined and intf_attr.tecost != 0 %}
                level 2 te-metric {{ intf_attr.tecost }};
{% endif %}
        }
{% endif %}
{% endfor %}
            interface fxp0.0 {
                disable;
        }
        interface lo0.0 {
                passive;
                level 1 disable;
        }
    }

