{#
**************************************************
###         LDP configuration        ######
###**************************************************
#}
   ldp {
	   export PL-LDP-EXPORT
	   egress-policy PL-LDP-EGRESS
           interface lo0.0;
           session-protection timeout 600;
           deaggregate;
           track-igp-metric;
	   p2mp;
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
           interface {{ intf }};
{% endif %}
{% endfor %}
            interface fxp0.0 {
                disable;
        }

   }
    mpls {
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
        interface {{ intf }};
{% endif %}
{% endfor %}
	}

