{#
**************************************************
###         Routing Options        ######
##**************************************************
##    #}
routing-options {
        static {
        route 0.0.0.0/0 next-hop 172.23.84.1;
        }
        router-id {{ node.rid }};
        autonomous-system {{ common.bgp.as }};
        forwarding-table {
                export PL-LB;
        }
{% if node.bgp is defined %}
{% if node.bgp.ibgp.protection is defined and node.bgp.ibgp.protection == 'backup' %}
        protect core;
{% endif %}
{% if node.bgp.ibgp.rr is defined %}
        rib inet.3 static route 0/0 discard;
{% endif %}
{% endif %}
}

