{#
**************************************************
###         MPLS        ######
###**************************************************
###    #}
    mpls {
        admin-groups {
                AG10 10;
                AG20 20;
        }
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
{% if intf_attr.affinity is defined %}
        interface {{ intf }}{
                admin-group {{ intf_attr.affinity }};
        }
{% else %}
        interface {{ intf }};
{% endif %}
{% endif %}
{% endfor %}
{% if node.rsvp is defined %}
	apply-groups GR-LSP;
	optimize-timer 30;
	optimize-switchover-delay 15;
{% for rsvp_dst,rsvp_attr in node.rsvp.items()|sort %}
           label-switched-path {{ inventory_hostname }}-->{{ rsvp_dst }} {
                to {{ rsvp_attr.dst }};
{% if rsvp_attr.route is defined %}
{% for route in rsvp_attr.route %}
                no-install-to-address;
                install {{ route }};
{% endfor %}
{% endif %}
{% if rsvp_attr.tldp is defined and rsvp_attr.tldp == 1 %}
                ldp-tunneling;
{% endif %}
{% if rsvp_attr.ag_incl is defined %}
                admin-group include-any {{ rsvp_attr.ag_incl }};
{% endif %}
{% if rsvp_attr.ag_excl is defined %}
                admin-group exclude {{ rsvp_attr.ag_excl }};
{% endif %}
{% if rsvp_attr.protection is defined %}
                link-protection;
{% endif %}
           }
{% endfor %}
{% endif%}
   }
{#
**************************************************
###         RSVP configuration        ######
###**************************************************
###    #}
   rsvp {
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.ce is defined %}
{% else %}
{% if intf_attr.protection is defined %}
           interface {{ intf }} {
             link-protection {
                admin-group {
                    include-any AG10;
                    exclude AG20;
                }
            }
        }
{% else %}
           interface {{ intf }};
{% endif %}
{% endif %}
{% endfor %}
   }

