{% set node = nodes[inventory_hostname] %}
!
{#
**************************************************
###         System configuration            ######
**************************************************
#}
hostname {{inventory_hostname}}
domain name croclab.ru
ipv4 unnumbered mpls traffic-eng Loopback0
!
{#
**************************************************
###         Interface configuration            ######
**************************************************
#}
{% for lo,lo_attr in node.loops.items() %}
interface Loopback{{ lo_attr.id }}
 ipv4 address {{lo_attr.ip}}/32
{% endfor %}
!
interface MgmtEth0/0/CPU0/0
 description "OOB to MGMT Network"
 ipv4 address {{node.mgmt}} 255.255.255.0
 no shutdown
!
{% for intf,intf_attr in node.links.items() %}
{% if intf_attr.vlan is defined and intf_attr.vlan != 0 %}
interface {{intf}}
 description "{{ intf_attr.remote }}"
 encapsulation dot1q {{intf_attr.vlan}}
 ipv4 address {{intf_attr.ip}}
interface {{intf.split('.')[0]}}
 no shutdown
{% else %}
interface {{intf.split('.')[0]}}
 description "{{ intf_attr.remote }}"
 ipv4 address {{intf_attr.ip}}
 no shutdown
{% endif %}
{% endfor %}
!
{#
**************************************************
##         Groups configuration            ######
**************************************************
#}
group GR-LSP
 interface 'tunnel-te.*'
  ipv4 unnumbered Loopback0
  record-route
  path-option 1 dynamic
 !
end-group
!
group GR-ISIS
 router isis '.*'
  interface 'GigabitEthernet.*'
   point-to-point
   address-family ipv4 unicast
{% if node.isis.protection is defined %}
    fast-reroute {{ node.isis.protection }}
{% endif %}
   mpls ldp sync
 !
end-group
!
{#
**************************************************
###         Routing configuration            ######
**************************************************
#}
router static
 address-family ipv4 unicast
  0.0.0.0/0 172.23.84.1
 !
!
route-policy ISIS_LEAK
   if destination in (172.16.0.0/22 eq 32) then
     pass
   endif
end-policy
!
route-policy PL-iBGP-RR-OUT
   set next-hop self
end-policy
!
{#
**************************************************
##         TE tunnels configuration            ######
**************************************************
#}
{% if node.rsvp is defined and node.rsvp !=1 %}
{% for rsvp_dst,rsvp_attr in node.rsvp.items()|sort %}
interface tunnel-{{ rsvp_attr.tun }}
 apply-group GR-LSP
 signalled-name {{ inventory_hostname }}-->{{ rsvp_dst }}
 path-selection metric {{ rsvp_attr.cost_type }}
 destination {{ rsvp_attr.dst }}
{% for route in rsvp_attr.route %}
 autoroute destination {{ route }}
{% endfor %}
{% if rsvp_attr.ag_incl is defined %}
 affinity include {{ rsvp_attr.ag_incl }}
{% endif%}
{% if rsvp_attr.ag_excl is defined %}
 affinity exclude {{ rsvp_attr.ag_excl }}
{% endif %}
{% if rsvp_attr.protection is defined %}
 {{ rsvp_attr.protection }}
{% endif %}
{% endfor %}
{% endif %}
!
{#
**************************************************
###         ISIS configuration            ######
**************************************************
#}
router isis {{common.isis.process}}
{% if node.isis.protection is defined %}
apply-group GR-ISIS
{% endif %}
{% if node.isis.area is defined %}
 net 49.{{node.isis.area}}.0000.0000.{{node.isis.net}}.00
{% endif %}
{% if node.isis.area0 is defined %}
 net 49.{{node.isis.area0}}.0000.0000.{{node.isis.net}}.00
{% endif %}
 is-type {{node.isis.level}}
 set-overload-bit on-startup wait-for-bgp
 address-family ipv4 unicast
  metric-style wide
  ispf
{% if node.rsvp is defined %}
  mpls traffic-eng level-1-2
  mpls traffic-eng router-id Loopback0
{% endif %}
{% if node.isis.propagate is defined %}
  propagate level 2 into level 1 route-policy {{ node.isis.propagate }}
{% endif %}
{% for lo,lo_attr in node.loops.items()|sort %}
interface Loopback{{ lo_attr.id }}
  passive
  address-family ipv4 unicast
{% if node.isis.lolvl is defined %}
  circuit-type {{node.isis.lolvl}}
{% endif %}
{% endfor %}
{% for intf,intf_attr in node.links.items()|sort %}
 interface {{intf}}
{% if intf_attr.circuit_type is defined %}
   circuit-type {{intf_attr.circuit_type}}
{% endif %}
  address-family ipv4 unicast
   metric {{intf_attr.cost}}
{% endfor %}
!
{#
**************************************************
##         BGP configuration            ######
#**************************************************
##}
{% if node.bgp is defined %}
router bgp {{ common.bgp.as }}
bgp router-id {{ node.rid }}
{% for family in node.bgp.ibgp.af %}
{% if family == 'inet' %}
 address-family ipv4 unicast
  additional-path receive
  additional-path send
!
{% if node.bgp.ibgp.rr is defined %}
 neighbor-group iBGP-CLIENTS
  remote-as {{ common.bgp.as }}
  update-source Loopback0
  cluster-id {{ node.rid }}
  address-family ipv4 unicast
   route-reflector-client
!
{% for peer in node.bgp.ibgp.rr %}
 neighbor {{ peer }}
 use neighbor-group iBGP-CLIENTS
!
{% endfor %}
{% endif %}
 neighbor-group RR
  remote-as {{ common.bgp.as }}
  update-source Loopback0
  address-family ipv4 unicast
   route-policy PL-iBGP-RR-OUT out
!
{% for peer in node.bgp.ibgp.peers %}
 neighbor {{ peer }}
 use neighbor-group RR
!
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{#
**************************************************
##         RSVP-TE configuration            ######
**************************************************
#}
rsvp
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.rsvp is defined and intf_attr.rsvp == 1  %}
 interface {{ intf }}
{% endif %}
{% else %}
 no interface {{ intf }}
{% endfor %}
!
mpls traffic-eng
reoptimize 30
reoptimize timers delay installation 15
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.rsvp is defined and intf_attr.rsvp == 1  %}
 interface {{ intf }}
{% if intf_attr.tecost is defined and intf_attr.tecost != 0  %}
 admin-weight {{ intf_attr.tecost }}
{% endif %}
{% if intf_attr.affinity is defined %}
 attribute-names {{ intf_attr.affinity }}
{% endif %}
{% if intf_attr.protection is defined and intf_attr.protection == 'auto' %}
  auto-tunnel backup
   attribute-set PLANE_C
  !
{% endif %}
{% else %}
 no interface {{ intf }}
{% endif %}
{% endfor %}
 affinity-map AG10 bit-position 10
 affinity-map AG20 bit-position 20
 attribute-set auto-backup PLANE_C
  affinity include AG10
  affinity exclude AG20
  exit
!
 auto-tunnel backup
  tunnel-id min 101 max 199
  exit
!
{#
**************************************************
###         LDP configuration            ######
**************************************************
##}
ipv4 access-list AL-LOCAL-PLANE-B-C
10 permit ipv4 172.16.1.0 0.0.0.255 any
20 permit ipv4 172.16.2.0 0.0.0.255 any
30 deny ipv4 any any
!
mpls ldp
 session protection
  address-family ipv4
    label
       local
          allocate for AL-LOCAL-PLANE-B-C
{% for intf, intf_attr in node.links.items()|sort %}
 interface {{ intf }}
  address-family ipv4
{% endfor %}
{% if node.rsvp is defined and node.rsvp !=1 %}
{% for rsvp_dst,rsvp_attr in node.rsvp.items()|sort %}
{% if rsvp_attr.tldp is defined and rsvp_attr.tldp == 1 %}
 interface tunnel-{{ rsvp_attr.tun }}
  address-family ipv4
{% else %}
 no interface tunnel-{{ rsvp_attr.tun }}
{% endif %}
{% endfor %}
{% endif %}
!
{#
**************************************************
###         System configuration            ######
**************************************************
#}
mpls oam
ssh server v2
ssh server logging
xml agent ssl
 iteration off
!
xml agent tty
 iteration off
!
netconf agent tty
!
end
!
