{% set node = nodes[inventory_hostname] %}
{#
**************************************************
###         System configuration            ######
**************************************************
    #}
system {
    host-name {{inventory_hostname}};
    no-redirects;
    root-authentication {
        encrypted-password "$6$zePqZ43t$tNLCSIkGiRZp0UCPA174/.I7kN8uCGbsQnjVJCz6Grr0xGFQ9ixkMVeM3pV5WZW1P9VWhrOMBVAynAqMJSOyc/"; ## SECRET-DATA
    }
    login {
        user croc {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$I8oiCdkQ$OIRXVyUL06jVIcoq2gNgmdKolULGWx1lkPcSnnM2hGS5cx7W4Wxu5NBDDg95h7EpFPiwXJdjvxurxYlvUKWqT."; ## SECRET-DATA
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgvPzT89KIHwCwSqasZLP90dIe3FuMzUHUzhc9GnQcn08m9cktCvVSOIJtSgV8pXIB+notkBiE3qLzpWqvwMr2Xj4nuiEntWj+MHjEZpDAgQm1FTsgF0Pyx+gYgoIjc5NE5+YTq07W6voEfFr4yAvYVUIjN7zREc9HOrlmhDxZxXOfziii09GczJ55B+K4Lv1HQHmKpgBmO3aVnVJKb8EKzVk2OYZ83N8KhiIrtSPihMC5GOoA5b3gdY6ktP+iJ9mNXcFAQd2OfQC2hBPk7BDwunep4Cz+dii+FSAqRn8Bb5lXUYjcG/VJEeRVibNAtgeepUSU5pjT/cZB9H4Ed0RR root@ssudilovsky-mob.croc.ru"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        telnet;
        netconf {
            ssh;
            traceoptions {
                file nc.txt size 1m world-readable;
                flag incoming;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
{#
**************************************************
###         Interfaces configuration        ######
#**************************************************
#    #}
interfaces {
    fxp0 {
        description "OOB to MGMT Network";
        unit 0 {
            family inet {
                address {{node.mgmt}}/24;
            }
        }
    }
    lo0 {
	unit 0 {
            family inet {
{% for lo,lo_attr in node.loops.items() %}
                address {{lo_attr.ip}}/32;
{% endfor %}
	    }
	    family iso {
{% if node.isis.area is defined %}
		address 49.{{ node.isis.area }}.0000.0000.{{ node.isis.net }}.00;
{% endif %}
{% if node.isis.area0 is defined %}
                address 49.{{ node.isis.area0 }}.0000.0000.{{ node.isis.net }}.00;
{% endif %}
	    }
        }
{% for intf,intf_attr in node.links.items()|sort %}
{% set newintf = intf.split('.')[0] %}
{% if oldintf is defined and oldintf == newintf%}
        unit {{ intf_attr.vlan }} {
            description "{{ intf_attr.remote }}"
            vlan-id {{ intf_attr.vlan }};
            family inet {
                address {{ intf_attr.ip }}/{{ intf_attr.mask|default('31') }};
            }
            family mpls;
            family iso;
        }
{% else %}
    }
    {{ newintf }} {
{% if intf_attr.vlan is defined and intf_attr.vlan !=0 %}
        vlan-tagging;
        unit {{ intf_attr.vlan }} {
           description "{{ intf_attr.remote }}"
            vlan-id {{ intf_attr.vlan }};
            family inet {
                address {{ intf_attr.ip }}/{{ intf_attr.mask|default('31') }};
            }
            family mpls;
	    family iso;
        }
{% else %}
        unit 0 {
           description "{{ intf_attr.remote }}"
            family inet {
                address {{ intf_attr.ip }}/{{ intf_attr.mask|default('31') }};
            }
            family mpls;
	    family iso:
        }
{% endif %}
{% set oldintf = newintf%}
{% endif %}
{% endfor %}
    }
}
{#
**************************************************
###         Routing Options        ######
##**************************************************
##    #}
routing-options {
        router-id {{ node.rid }};
        autonomous-system {{ common.bgp.as }};
	forwarding-table export PL-LB;
            }
{#
**************************************************
###         Policy configuration        ######
##**************************************************
##    #}
policy-options {
        policy-statement ISIS_LEAK {

        from {
            protocol isis;
            level 2;
            route-filter 172.16.0.0/22 orlonger;
        }
        to {
            protocol isis;
            level 1;
        }
        then accept;
    }
    	policy-statement PL-LB {
    	   then load-balance per-packet;
	}
	policy-statement PL-LDP-EGRESS {
           term LOOPBACK-B-C {
            from {
{% for lo,lo_attr in node.loops.items() %}
{% if lo == 'PL_A'%}
{% else %}
                route-filter {{ lo_attr.ip }}/32 exact;
{% endif %}
{% endfor %}
            }
            then accept;
        	}
        term REST {
            then reject;
        	}
    	}	
	policy-statement PL-LDP-EXPORT {
	   term LOOPBACK-B-C {
		from {
		   route-filter 172.16.1.0/24 orlonger;
		   route-filter 172.16.2.0/24 orlonger;
		}
		then accept;
	   }
	   term REST {
		then reject;
	   }
	}
}
{#
**************************************************
###         Groups configuration        ######
###**************************************************
###    #}
groups {
	GR-LSP {
		protocols {
			mpls {
				label-switched-path <*>	adaptive;
			}
		}
	}
	GR-ISIS {
		protocols {
			isis {
				interface "<*[es]*>" {
{% if node.isis.protection is defined %}
					{{ node.isis.protection }};
{% endif %}
				}
			}
		}
	}
}
{#
**************************************************
###         Protocols configuration        ######
##**************************************************
##    #}
protocols {
{#
**************************************************
###         ISI        ######
###**************************************************
###    #}
#
    isis {
{% if node.isis.propagate is defined %}
        export {{ node.isis.propagate }};
{% endif %}
	apply-groups GR-ISIS;
	backup-spf-options node-link-degradation;
        overload timeout 60;
        level 1 wide-metrics-only;
        level 2 wide-metrics-only;        
{%          for intf,intf_attr in node.links.items()|sort %}
        interface {{ intf }} {
                point-to-point;
{%              if intf_attr.cost is defined %}
                level 2 metric {{ intf_attr.cost }};
		level 1 metric {{ intf_attr.cost }};
{%              endif %}
{%              if intf_attr.tecost is defined and intf_attr.tecost != 0 %}
                level 2 te-metric {{ intf_attr.tecost }};
{%              endif %}
{%              if intf_attr.circuit_type is defined and intf_attr.circuit_type == "level-2-only" %}
		level 1 disable;
{%              elif intf_attr.circuit_type is defined and intf_attr.circuit_type == "level-1" %}
                level 2 disable;
{%              endif %}
                ldp-synchronization;
	}
{% endfor %}
	    interface fxp0.0 {
            	disable;
        }
        interface lo0.0 {
            	passive;
{%              if node.isis.lolvl is defined and node.isis.lolvl == "level-2-only" %}
                level 1 disable;
{%              elif node.isis.lolvl is defined and node.isis.lolvl == "level-1" %}
                level 2 disable;
{%              endif %}
        }
    }
{#
**************************************************
###         MPLS        ######
###**************************************************
###    #}
#
    mpls {
	admin-groups {
		AG10 10;
		AG20 20;
	}
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.affinity is defined %}
           interface {{ intf }}{
		admin-group {{ intf_attr.affinity }};
	}
{% else %}
	interface {{ intf }};
{% endif %}
{% endfor %}
{% if node.rsvp is defined and node.rsvp !=1 %}
   apply-groups GR-LSP;
   optimize-timer 30;
   optimize-switchover-delay 15;
{% for rsvp_dst,rsvp_attr in node.rsvp.items()|sort %}
           label-switched-path {{ inventory_hostname }}-->{{ rsvp_dst }} {
		to {{ rsvp_attr.dst }};
		no-install-to-address;
{% for route in rsvp_attr.route %}
		install {{ route }};
{% endfor %}
{% if rsvp_attr.tldp is defined and rsvp_attr.tldp == 1 %}
		ldp-tunneling;
{% endif %}
{% if rsvp_attr.ag_incl is defined %}
                admin-group include {{ rsvp_attr.ag_incl }};
{% endif %}
{% if rsvp_attr.ag_excl is defined %}
                admin-group exclude {{ rsvp_attr.ag_excl }};
{% endif %}
{% if rsvp_attr.protection is defined %}
		link-protection;
{% endif %}
	   }
		
{% endfor %}
{% endif%}
   }
{#
**************************************************
###         LDP configuration        ######
###**************************************************
###    #}
#
   ldp {
	   export PL-LDP-EXPORT;
	   egress-policy PL-LDP-EGRESS;
	   interface lo0.0;
           session-protection timeout 600;
           deaggregate;
           track-igp-metric;
{% for intf,intf_attr in node.links.items()|sort %}
           interface {{ intf }};
{% endfor %}
   }
{#
**************************************************
###         RSVP configuration        ######
###**************************************************
###    #}
#
{% if node.rsvp is defined%}
   rsvp {
{% for intf,intf_attr in node.links.items()|sort %}
{% if intf_attr.rsvp is defined and intf_attr.rsvp == 1  %}
{% if intf_attr.protection is defined %}
           interface {{ intf }} {
	     link-protection {
                admin-group {
                    include-any AG10;
                    exclude AG20;
                }
            }
	}
{% else %}
           interface {{ intf }};
{% endif %}
{% endif %}
{% endfor %}
   }
{% endif %}
}
